<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Portfolio - Ogunniran Taiwo Aquila</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">
        <script src="https://kit.fontawesome.com/5126269ed0.js" crossorigin="anonymous"></script>

        <!-- Favicon -->
        <link href="static/img/favicon.png" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="static/lib/animate/animate.min.css" rel="stylesheet">
        <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="static/css/style.css" rel="stylesheet">
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
       <!-- Banner Start -->
        <div class="banner wow zoomIn" data-wow-delay="0.1s">
            <div class="container">

                <div class="section-header text-center">
                    <p>You are Awesome</p>
                    <h2>Thanks for <span>reaching </span>out</h2>
                </div>
                <div class="container banner-text">
                    <p>
                        I will reach out as soon as Possible - Taiwo
                    </p>
                    <a href="./index.html#home" class="btn">Go back</a>
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <h2>Taiwo Ogunniran</h2>
                        <h3>Lagos, Nigeria</h3>
                        <div class="footer-menu">
                            <p>+234 814 296 6912</p>
                            <p>ogunniranaquila@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href="https://github.com/Aquila-byte" title="" class="fa-icon">
                        <i class="fa-brands fa-github"></i>
                      </a>
                      <a href="https://twitter.com/justAquila" title="" class="fa-icon">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="https://discordapp.com/users/Aquila#3724" title="" class="fa-icon">
                        <i class="fa-brands fa-discord"></i>
                      </a>
                      <a href="https://www.linkedin.com/in/ogunniran-aquila-0aa5b5239/" title="" class="fa-icon">
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <p>                         </p>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="static/lib/easing/easing.min.js"></script>
        <script src="static/lib/wow/wow.min.js"></script>
        <script src="static/lib/waypoints/waypoints.min.js"></script>
        <script src="static/lib/typed/typed.min.js"></script>
        <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="static/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="static/lib/lightbox/js/lightbox.min.js"></script>
        
        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="static/js/main.js/"></script>
    </body>
</html>
